 .image-social {
   height: 18px;
   text-align: center;
 }

 ul {
   list-style-type: none;
   padding: 0px;
 }

 .lead {
   font-size: 35px !important;
 }

 .fa,
 .fab,
 .fas {
   font-size: 20px;
 }
