<div class="wrapper">
  <div class="page-header page-header-small" style="background-image: url('./assets/img/blurred-image-1.jpg')">
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2>ABOUT US</h2>
          <h5 class="description text-gray">Find Out More About How We Work</h5>
          <div class="section-space"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section-breadcrumb">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>

          </ol>
        </nav>
      </div>

    </div>
    <div class="section" aria-labelledby="about-title">
      <div class="container">
        <div class="row">
          <div class="col-md-9 ml-auto mr-auto text-center">
            <h2 class="title text-primary" data-aos="fade-down" id="about-title">Our Message and Goal</h2>
            <h4 class="description" data-aos="fade-up">At <span class="text-secondary">Twentysix<span class="font-kn"
                  style="font-size: 25px;">.</span>house</span>, we
              thoughtfully design homes
              that go beyond
              today — creating spaces to be cherished not only by you, but by generations to come.</h4>
            <h4 class="description" data-aos="fade-up">Your home is a reflection of your values, your lifestyle, and
              your dreams. That’s why we focus on building with care, quality, and timeless design — so it remains
              meaningful for years to come.</h4>
            <h4 class="description mb-4" data-aos="fade-up">Every detail matters to us. From the layout to the finishing
              touches, we pay close attention to ensure you feel the warmth, intention, and craftsmanship behind every
              part of your home.</h4>
            <h5 class="description" data-aos="fade-up">"The Precious Living For The Next Generation"</h5>
            <div class="separator separator-primary" data-aos="fade-up"></div>
          </div>
        </div>
        <div class="section-story-overview">

          <div class="row mb-5">

            <div class="col-md-4" data-aos="zoom-in-down">
              <img class="img img-raised" src="assets/img/house1.jpg" alt="บ้านสวยจาก Twentysix.House" />
            </div>
            <div class="col-md-4 mb-4" data-aos="zoom-in-down">
              <img class="img img-raised house-2" src="assets/img/house2.jpg" alt="ออกแบบบ้านตามความต้องการลูกค้า" />
            </div>
            <div class="col-md-4" data-aos="zoom-in-down">
              <img class="img img-raised" src="assets/img/house3.jpg" alt="บ้านสวยจาก Twentysix.House" />

            </div>
          </div>

          <div class="row mb-5">

            <div class="col-md-6" data-aos="zoom-in-down">
              <h3 data-aos="zoom-in"><span class="text-secondary font-le" style="font-size: 16px;">TWENTYSIX<span
                    class="font-kn" style="font-size: 25px;">.</span>HOUSE</span>
                รับสร้างบ้านอุดรธานี นอกจากที่จะสร้างบ้านพร้อม ดีไซน์ให้ท่านเจ้าของบ้านใหม่ๆทุกหลังแล้ว</h3>
              <p class="description" data-aos="zoom-in">
                เหนือสิ่งอื่นใด การบริการ เป็นอีกหนึ่งสิ่ง ที่ทางบริษัทฯ ได้เล็งเห็นถึงความสำคัญ
                เพื่อให้ท่านสามารถไว้วางใจในกระบวนการและขั้นตอนต่างๆรวมไปถึงทีมงานทุกท่านได้อย่างไร้ข้อกังวลได้มากที่สุด
                เราจึงทำงานกันอย่างมืออาชีพ ปลูกสร้างบ้านอย่างพิถีพิถัน และมีมาตรฐานที่ชัดเจน ทางบริษัทฯ
                ได้จัดสรรค์ทีมงานผู้เชี่ยวชาญเพื่อดูแลท่านอย่างใกล้ชิด
              </p>

              <p class="description" data-aos="zoom-in">ท่านสามารถปรึกษาและพูดคุยในรายละเอียด ดังเช่น การเลือกสุขภัณฑ์
                การเลือกสีบ้าน
                การเลือกสีไฟ หรือแม้แต่กระเบื้อง และอื่นๆอีกมากมาย
                ในการช่วยเติมเต็มให้บ้านของท่านออกมาได้อย่างสมบูรณ์แบบ
              </p>
            </div>

            <div class="col-md-6  ">

              <div class="row justify-content-end">

                <div class="col-md-9 ">
                  <p class="blockquote blockquote-primary" data-aos="zoom-in">"บริษัท ทเวนตี้ซิกซ์ ดีเวลล็อปเมนท์ จำกัด
                    ขอขอบพระคุณท่านที่มอบความไว้วางใจให้เราได้สร้างบ้านอันเป็นสิ่งล้ำค่าของท่าน กระผมและทีมงานทุกท่าน
                    พร้อมที่เนรมิตบ้านในฝันของท่านให้กลายเป็นจริง เป็นที่ประจักษ์และภาคภูมิใจ"
                    <br>
                    <br>
                    <small class="text-right"> ขอขอบพระคุณเป็นอย่างยิ่ง</small>
                    <br>
                    <img style="width: 20%;" class="img " src="assets/img/1746441034627.jpg"
                      alt="บ้านสวยจาก Twentysix.House" />
                    <br>
                    <small class="text-right">อรรถชัย กอบเกื้อ</small>
                    <br>
                    <small class="text-right">กรรมการบริหาร บริษัท ทเวนตี้ซิกซ์ ดีเวลล็อปเมนท์ จำกัด</small>
                  </p>

                </div>

              </div>

            </div>

          </div>

          <div class="row">

            <div class="col-md-4 " data-aos="zoom-in-down">
              <img class="img img-raised" src="assets/img/house5.jpg" alt="บ้านสวยจาก Twentysix.House" />
            </div>
            <div class="col-md-4 mb-4 " data-aos="zoom-in-down">
              <img class="img img-raised house-2" src="assets/img/house4.jpg" alt="บ้านสวยจาก Twentysix.House" />
            </div>
            <div class="col-md-4" data-aos="zoom-in-down">
              <img class="img img-raised" src="assets/img/house6.jpg" alt="บ้านสวยจาก Twentysix.House" />

            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="section section-light" aria-labelledby="project-title">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h5 class="description" data-aos="fade-down">Our Work</h5>
            <h2 class="title text-primary" data-aos="fade-down" id="project-title">Latest Project</h2>
            <div class="separator separator-primary" data-aos="fade-down"></div>
          </div>
        </div>
        <div class="space-top"></div>

        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6 mb-3" data-aos="fade-up">
                <div class="card card-blog">
                  <div class="card-image">
                    <img class="img img-raised" src="assets/img/photo1.jpg" loading="lazy" alt="ตัวอย่างผลงานบ้าน" />
                  </div>

                </div>
              </div>
              <div class="col-md-6 mb-3" data-aos="fade-up">
                <div class="card card-blog">
                  <div class="card-image">
                    <img class="img img-raised" src="assets/img/photo14.jpg" loading="lazy" alt="ตัวอย่างผลงานบ้าน" />
                  </div>

                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 mb-3" data-aos="fade-up">
                <div class="card card-blog">
                  <div class="card-image">
                    <img class="img img-raised" src="assets/img/457442700.png" loading="lazy" alt="ตัวอย่างผลงานบ้าน" />
                  </div>

                </div>
              </div>
              <div class="col-md-6 mb-3" data-aos="fade-up">
                <div class="card card-blog">
                  <div class="card-image">
                    <img class="img img-raised" src="assets/img/photo5.jpg" loading="lazy" alt="ตัวอย่างผลงานบ้าน" />
                  </div>

                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6 mb-3" data-aos="fade-up">
                <div class="card card-blog">
                  <div class="card-image">
                    <img class="img img-raised" src="assets/img/photo9.jpg" loading="lazy" alt="ตัวอย่างผลงานบ้าน" />
                  </div>

                </div>
              </div>
              <div class="col-md-6 mb-3" data-aos="fade-up">
                <div class="card card-blog">
                  <div class="card-image">
                    <img class="img img-raised" src="assets/img/photo11.jpg" loading="lazy" alt="ตัวอย่างผลงานบ้าน" />
                  </div>

                </div>
              </div>


            </div>
            <div class="row">
              <div class="col-md-6 mb-3" data-aos="fade-up">
                <div class="card card-blog">
                  <div class="card-image">
                    <img class="img img-raised" src="assets/img/photo4.jpg" loading="lazy" alt="ตัวอย่างผลงานบ้าน" />
                  </div>

                </div>
              </div>
              <div class="col-md-6 mb-3" data-aos="fade-up">
                <div class="card card-blog">
                  <div class="card-image">
                    <img class="img img-raised" src="assets/img/photo12.jpg" loading="lazy" alt="ตัวอย่างผลงานบ้าน" />
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
