<div class="wrapper">
  <app-about-hero-section></app-about-hero-section>
  <div class="main about-main">
    <app-about-overview-section></app-about-overview-section>
    <app-about-philosophy-section></app-about-philosophy-section>
    <app-about-trust-section></app-about-trust-section>
    <app-about-message-section></app-about-message-section>
    <app-about-workflow-section></app-about-workflow-section>
    <app-about-facts-section></app-about-facts-section>
    <app-about-portfolio-section></app-about-portfolio-section>
    <app-about-cta-section></app-about-cta-section>
  </div>
</div>
