 .card-title,
 .card-description {
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   /* จำกัด 2 บรรทัด */
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   /* เพิ่ม ... เมื่อข้อความถูกตัด */
   white-space: normal;
   /* ทำให้ขึ้นบรรทัดใหม่ได้ */
 }

 @media (max-width: 768px) {

   .card-title,
   .card-description {
     -webkit-line-clamp: 3;
   }
 }

 .lead {
   font-size: 35px !important;
 }
