<div class="wrapper">
  <div class="page-header page-header-small" style="background-image: url('./assets/img/blurred-image-1.jpg')">
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">

          <h2>Services</h2>
          <h5 class="description text-gray">Solutions We Offer</h5>
          <div class="section-space"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section-breadcrumb">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Services</li>

          </ol>
        </nav>
      </div>

    </div>
    <div class="section ">
      <div class="container">

        <div class="row">
          <div class="col-md-3 mb-3">
            <div class="card card-profile card-secondary">
              <div class="card-body">

                <img class="img-service" src="assets/img/Photoroom8.png" />
                <h4 class="card-title text-dark">สำรวจหน้างาน ฟรี</h4>
                <p class="card-description">
                  ทีมวิศวกรเข้าสำรวจหน้างาน วัดระยะขอบเขตพื้นที่เพื่อนำมาดีไซต์
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <img class="img-service" src="assets/img/Photoroom7.png" />

                <h4 class="card-title text-dark">ออกแบบใหม่ ฟรี</h4>
                <p class="card-description">
                  ออกแบบฟรีพร้อมสร้าง ตามความต้องการ หลังต่อหลัง
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <img class="img-service" src="assets/img/Photoroom6.png" />
                <h4 class="card-title text-dark">คำนวนโครงสร้างโดยสามัญวิศวกร</h4>
                <p class="card-description">
                  คำนวนโครงสร้าง
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <img class="img-service" src="assets/img/Photoroom5.png" />
                <h4 class="card-title text-dark">ขั้นตอนการก่อสร้าง</h4>
                <p class="card-description">
                  บ้านของท่านทุกๆหลัง จะถูกดูแลควบคุมการก่อสร้างโดยวิศวกรผู้เชี่ยวชาญ
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <img class="img-service" src="assets/img/Photoroom4.png" />
                <h4 class="card-title text-dark">รายงานขั้นตอนต่างๆ</h4>
                <p class="card-description">
                  ทีมวิศวกรมีการอัปเดตความคืนหน้าทุกๆสัปดาห์
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <img class="img-service" src="assets/img/Photoroom3.png" />
                <h4 class="card-title text-dark">การรับประกัน</h4>
                <p class="card-description">
                  รับประกันโครงสร้าง 20 ปี และอื่นๆ
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <img class="img-service" src="assets/img/Photoroom2.png" />
                <h4 class="card-title text-dark">ตรวจสอบก่อนส่งมอบ</h4>
                <p class="card-description">
                  ตรวจสอบก่อนส่งมอบงานโดยทีมผู้เชี่ยวชาญ
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <img class="img-service" src="assets/img/Photoroom1.png" />
                <h4 class="card-title text-dark">ดูแลหลังส่งมอบ</h4>
                <p class="card-description">
                  หากมีปัญหา ซ่อม แก้ไข สามารถแจ้งผ่าน Line Officail ได้ตลอด 24 ชั่วโมง
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h5 class="description" data-aos="fade-down">What We Do</h5>

            <h2 class="title text-secondary" data-aos="fade-down"><span style="font-size: 40px;">6</span> Step Working
              Process</h2>
            <div class="separator separator-secondary" data-aos="fade-down"></div>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="row text-center mt-5">
          <div class="col-md-4 mb-3" data-aos="zoom-in">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <i class="fas fa-home mt-3"></i>
                <h4 class="card-title text-white"><span class="text-secondary text-bold">01. </span>Meet Our Architect
                </h4>
                <p class="card-description">
                  เลือกแบบบ้าน หรือ ออกแบบใหม่
                </p>
              </div>
            </div>

          </div>
          <div class="col-md-4 mb-3" data-aos="zoom-in">
            <div class="card card-profile card-secondary">
              <div class="card-body ">
                <i class=" fa fa-search mt-3" aria-hidden="true"></i>
                <h4 class="card-title text-white"><span class="text-secondary text-bold">02. </span>Site Survey
                </h4>
                <p class="card-description">
                  สำรวจที่ดิน
                </p>
              </div>
            </div>

          </div>
          <div class="col-md-4 mb-3" data-aos="zoom-in">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <i class="fas fa-pencil-ruler mt-3"></i>
                <h4 class="card-title text-white"><span class="text-secondary text-bold">03. </span>Layout Design
                </h4>
                <p class="card-description">
                  ออกแบบฟังก์ชั่นการใช้งาน
                </p>
              </div>
            </div>

          </div>
          <div class="col-md-4 mb-3" data-aos="zoom-in">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <i class="fas fa-file-alt" style="margin-top: 30px; margin-bottom: 28px;"></i>
                <h4 class="card-title text-white"><span class="text-secondary text-bold">04. </span>Final Design
                </h4>
                <p class="card-description">
                  สรุปแบบ 3D และเลือกวัสดุ
                </p>
              </div>
            </div>

          </div>
          <div class="col-md-4 mb-3" data-aos="zoom-in">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <i class="fas fa-hammer  mt-3"></i>
                <h4 class="card-title text-white"><span class="text-secondary text-bold">05. </span>Building Permit &
                  Contruction
                </h4>
                <p class="card-description">
                  บริการยื่นขออนุญาตก่อสร้าง และเริ่มก่อสร้าง
                </p>
              </div>
            </div>

          </div>
          <div class="col-md-4 mb-3" data-aos="zoom-in">
            <div class="card card-profile card-secondary">
              <div class="card-body">
                <i class="fas fa-key" style="margin-top: 30px; margin-bottom: 28px;"></i>
                <h4 class="card-title text-white"><span class="text-secondary text-bold">06. </span>QC & Complete
                </h4>
                <p class="card-description">
                  ตรวจสอบและส่งมอบบ้าน
                </p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="section section-light pt-4 pb-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 mr-auto ml-auto" style="border-right: 2px solid #A1752B">

            <h2 class="title text-primary mt-3 mb-3">Our <br />
              Collaborators</h2>
          </div>
          <div class="col-md-9 mr-auto ml-auto name">



            <ngx-fast-marquee *ngIf="isBrowser" [speed]="130">
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand2.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand3.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand4.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand5.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand7.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand8.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand9.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand10.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand11.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand12.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand13.jpg" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand14.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand15.png" />
              </div>
              <div class="item item-marquee">
                <img class="img-coll" src="assets/img/Logo/brand16.png" />
              </div>
            </ngx-fast-marquee>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>
