.img-service {
  width: 50%;
}

.item-marquee {
  height: 60px !important;
  width: auto !important;
}

.img-coll {
  width: 100% !important;
  height: 100% !important;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
}

.img-collection {
  width: 100%;
}

.lead {
  font-size: 35px !important;
}
