.fa,
.fas {
  font-size: 50px;
}

img {
  width: 100%;
}

.house-2 {
  margin-top: 40px;

}

.img-service {
  width: 50%;
}

.fa-map-marker,
.fa-phone,
.fa-envelope,
.fa-instagram,
.fa-facebook,
.fa-line,
.fa-tiktok {
  font-size: 20px;
}


.contact-list {
  list-style-type: none;
}

.item-marquee {
  height: 60px !important;
  width: auto !important;
}

.img-coll {
  width: 100% !important;
  height: 100% !important;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
}

.img-collection {
  width: 100%;
}
