<div class="wrapper">
  <div class="page-header page-header-lg">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/head.png');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title text-secondary" data-aos="fade-up"></h1>
        <div class="text-center" data-aos="fade-up">

        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto mr-auto text-center">
          <h2 class="title text-primary" data-aos="fade-down">Our Message and Goal</h2>
          <h4 class="description" data-aos="fade-up">At <span class="text-secondary">Twentysix<span class="font-kn"
                style="font-size: 25px;">.</span>house</span>, we
            thoughtfully design homes
            that go beyond
            today — creating spaces to be cherished not only by you, but by generations to come.</h4>
          <h4 class="description" data-aos="fade-up">Your home is a reflection of your values, your lifestyle, and
            your dreams. That’s why we focus on building with care, quality, and timeless design — so it remains
            meaningful for years to come.</h4>
          <h4 class="description mb-4" data-aos="fade-up">Every detail matters to us. From the layout to the finishing
            touches, we pay close attention to ensure you feel the warmth, intention, and craftsmanship behind every
            part of your home.</h4>
          <h5 class="description" data-aos="fade-up">"The Precious Living For The Next Generation"</h5>
          <div class="separator separator-primary" data-aos="fade-up"></div>
        </div>
      </div>
      <div class="section-story-overview">

        <div class="row mb-5">

          <div class="col-md-4" data-aos="zoom-in-down">
            <img class="img img-raised" src="assets/img/house1.jpg" />
          </div>
          <div class="col-md-4 mb-4" data-aos="zoom-in-down">
            <img class="img img-raised house-2" src="assets/img/house2.jpg" />
          </div>
          <div class="col-md-4" data-aos="zoom-in-down">
            <img class="img img-raised" src="assets/img/house3.jpg" />

          </div>
        </div>

        <div class="row mb-5">

          <div class="col-md-6" data-aos="zoom-in-down">
            <h3 data-aos="zoom-in"><span class="text-secondary font-le" style="font-size: 16px;">TWENTYSIX<span
                  class="font-kn" style="font-size: 25px;">.</span>HOUSE</span>
              รับสร้างบ้านอุดรธานี นอกจากที่จะสร้างบ้านพร้อม ดีไซน์ให้ท่านเจ้าของบ้านใหม่ๆทุกหลังแล้ว</h3>
            <p class="description" data-aos="zoom-in">
              เหนือสิ่งอื่นใด การบริการ เป็นอีกหนึ่งสิ่ง ที่ทางบริษัทฯ ได้เล็งเห็นถึงความสำคัญ
              เพื่อให้ท่านสามารถไว้วางใจในกระบวนการและขั้นตอนต่างๆรวมไปถึงทีมงานทุกท่านได้อย่างไร้ข้อกังวลได้มากที่สุด
              เราจึงทำงานกันอย่างมืออาชีพ ปลูกสร้างบ้านอย่างพิถีพิถัน และมีมาตรฐานที่ชัดเจน ทางบริษัทฯ
              ได้จัดสรรค์ทีมงานผู้เชี่ยวชาญเพื่อดูแลท่านอย่างใกล้ชิด
            </p>

            <p class="description" data-aos="zoom-in">ท่านสามารถปรึกษาและพูดคุยในรายละเอียด ดังเช่น การเลือกสุขภัณฑ์
              การเลือกสีบ้าน
              การเลือกสีไฟ หรือแม้แต่กระเบื้อง และอื่นๆอีกมากมาย ในการช่วยเติมเต็มให้บ้านของท่านออกมาได้อย่างสมบูรณ์แบบ
            </p>
          </div>

          <div class="col-md-6  ">

            <div class="row justify-content-end">

              <div class="col-md-9 ">
                <p class="blockquote blockquote-primary" data-aos="zoom-in">"บริษัท ทเวนตี้ซิกซ์ ดีเวลล็อปเมนท์ จำกัด
                  ขอขอบพระคุณท่านที่มอบความไว้วางใจให้เราได้สร้างบ้านอันเป็นสิ่งล้ำค่าของท่าน กระผมและทีมงานทุกท่าน
                  พร้อมที่เนรมิตบ้านในฝันของท่านให้กลายเป็นจริง เป็นที่ประจักษ์และภาคภูมิใจ"
                  <br>
                  <br>
                  <small class="text-right"> ขอขอบพระคุณเป็นอย่างยิ่ง</small>
                  <br>
                  <img style="width: 20%;" class="img " src="assets/img/1746441034627.jpg" />
                  <br>
                  <small class="text-right">อรรถชัย กอบเกื้อ</small>
                  <br>
                  <small class="text-right">กรรมการบริหาร บริษัท ทเวนตี้ซิกซ์ ดีเวลล็อปเมนท์ จำกัด</small>
                </p>

              </div>

            </div>

          </div>

        </div>

        <div class="row">

          <div class="col-md-4 " data-aos="zoom-in-down">
            <img class="img img-raised" src="assets/img/house5.jpg" />
          </div>
          <div class="col-md-4 mb-4 " data-aos="zoom-in-down">
            <img class="img img-raised house-2" src="assets/img/house4.jpg" />
          </div>
          <div class="col-md-4" data-aos="zoom-in-down">
            <img class="img img-raised" src="assets/img/house6.jpg" />

          </div>
        </div>
      </div>


    </div>

  </div>
  <div class="section section-light">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h5 class="description" data-aos="fade-down">Solutions We Offer</h5>

          <h2 class="title text-primary" data-aos="fade-down">Services</h2>
          <div class="separator separator-primary" data-aos="fade-down"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3" data-aos="fade-up">
          <div class="card card-profile card-secondary">
            <div class="card-body">

              <img class="img-service" src="assets/img/Photoroom8.png" />
              <h4 class="card-title text-dark">สำรวจหน้างาน ฟรี</h4>
              <p class="card-description">
                ทีมวิศวกรเข้าสำรวจหน้างาน วัดระยะขอบเขตพื้นที่เพื่อนำมาดีไซต์
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-up">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <img class="img-service" src="assets/img/Photoroom7.png" />

              <h4 class="card-title text-dark">ออกแบบใหม่ ฟรี</h4>
              <p class="card-description">
                ออกแบบฟรีพร้อมสร้าง ตามความต้องการ หลังต่อหลัง
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-up">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <img class="img-service" src="assets/img/Photoroom6.png" />
              <h4 class="card-title text-dark">คำนวนโครงสร้างโดยสามัญวิศวกร</h4>
              <p class="card-description">
                คำนวนโครงสร้าง
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-up">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <img class="img-service" src="assets/img/Photoroom5.png" />
              <h4 class="card-title text-dark">ขั้นตอนการก่อสร้าง</h4>
              <p class="card-description">
                บ้านของท่านทุกๆหลัง จะถูกดูแลควบคุมการก่อสร้างโดยวิศวกรผู้เชี่ยวชาญ
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-up">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <img class="img-service" src="assets/img/Photoroom4.png" />
              <h4 class="card-title text-dark">รายงานขั้นตอนต่างๆ</h4>
              <p class="card-description">
                ทีมวิศวกรมีการอัปเดตความคืนหน้าทุกๆสัปดาห์
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-up">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <img class="img-service" src="assets/img/Photoroom3.png" />
              <h4 class="card-title text-dark">การรับประกัน</h4>
              <p class="card-description">
                รับประกันโครงสร้าง 20 ปี และอื่นๆ
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-up">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <img class="img-service" src="assets/img/Photoroom2.png" />
              <h4 class="card-title text-dark">ตรวจสอบก่อนส่งมอบ</h4>
              <p class="card-description">
                ตรวจสอบก่อนส่งมอบงานโดยทีมผู้เชี่ยวชาญ
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-up">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <img class="img-service" src="assets/img/Photoroom1.png" />
              <h4 class="card-title text-dark">ดูแลหลังส่งมอบ</h4>
              <p class="card-description">
                หากมีปัญหา ซ่อม แก้ไข สามารถแจ้งผ่าน Line Officail ได้ตลอด 24 ชั่วโมง
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-4 section  ">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h5 class="description" data-aos="fade-down">Tewntysix.House Design</h5>

          <h2 class="title text-primary" data-aos="fade-down">Collections</h2>
          <div class="separator separator-primary" data-aos="fade-down"></div>
        </div>
      </div>
      <div class="space-top"></div>


      <div class="row justify-content-center">

        <div class="col-md-8 text-center">
          <h4 class="description" style="margin-bottom: 20px;" data-aos="fade-down"><span class="text-secondary"
              style=" font-size: 20px; font-weight: bold;">ℙ 𝕌
              ℝ 𝔼</span> | ในแง่ของการดีไซน์
            คอลเลคชั่นนี้ เราตั้งใจให้โดดเด่นด้วยเส้นสายแนวยาวที่เรียบง่ายและสงบนิ่ง ตัดกับเส้นแนวตั้งอย่างพอดีพอเหมาะ
            เกิดเป็นจังหวะของความ “สงบแต่มีชีวิต” ที่สะท้อนตัวตนของผู้พักอาศัยได้อย่างมีระดับ ความงามที่ไม่ฉูดฉาด
            แต่กลับตราตรึงใจ เป็นบ้านที่ใครๆ ก็อยากกลับมาในทุกๆวัน
            ใช้ชีวิตอย่างเรียบง่ายแต่เปี่ยมไปด้วยคุณภาพและแฝงไปด้วยเสน่ห์ที่ชวนให้หลงใหล</h4>
        </div>

      </div>

      <hr />
      <br />
      <div class="row" data-aos="fade-up">
        <div class="col-md-7 ml-auto">
          <div class="row">

            <div class="col-12 mb-2">
              <a href="https://www.facebook.com/Twentysix.house/posts/pfbid02d2RGgPGGprY1H55AY258KZNX1maYCWyfJwoop4NgBVcguGdWh6udpzqct4PKmZwDl"
                target="_blank">
                <img class="img-collection img-raised mb-2" src="assets/img/Collection/collection6.jpg" />
              </a>

            </div>
            <div class="col-4  ">
              <img class="img-collection  img-raised" src="assets/img/Collection/collection3.jpg" />
            </div>
            <div class="col-4  ">
              <img class="img-collection img-raised" src="assets/img/Collection/collection4.jpg" />
            </div>
            <div class="col-4  ">
              <img class="img-collection img-raised" src="assets/img/Collection/collection5.jpg" />
            </div>
          </div>
        </div>
        <div class="col-md-5 mr-auto">
          <div class="card-plain">
            <div class="card-body">
              <span class="card-category text-primary font-rp">Yu Plearn By Pure Collections</span>
              <a href="https://www.facebook.com/Twentysix.house/posts/pfbid02d2RGgPGGprY1H55AY258KZNX1maYCWyfJwoop4NgBVcguGdWh6udpzqct4PKmZwDl"
                target="_blank">
                <h3 class="card-title">[Yu Plearn ] - บ้านที่ไม่ได้เพลินแค่ชื่อ แต่ยังเพลิดเพลินกับธรรมชาติได้จริง</h3>
              </a>
              <p class="card-description">
                [Yu Plearn ] เป็นพื้นที่ที่มอบความรู้สึกเพลิดเพลินผ่านการออกแบบที่เปิดกว้าง
                เชื่อมโยงกับธรรมชาติได้อย่างอย่างลงตัว
                ด้วยช่องแสงที่สูงทอดยาวตลอดทั้งสองชั้นของบ้าน อีกทั้ง <span
                  class="text-secondary">#ทางเดินภายในบ้านที่ออกแบบให้ชิดกับหน้าต่างบานใหญ่</span>
                ทำให้ผู้อยู่อาศัยสามารถสัมผัสกับบรรยากาศรอบบ้านได้ในทุกย่างก้าว ทุกพื้นที่ถูกออกแบบให้เปิดรับแสงธรรมชาติ
                และการระบายอากาศที่ดีเยี่ยม
                ทำให้ทุกพื้นที่ภายในบ้านเป็นประสบการณ์ที่เชื่อมโยงกับบรรยากาศภายนอกอย่างสมบูรณ์แบบ
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="row" data-aos="fade-up">
        <div class="col-md-5 ml-auto">
          <div class=" card-plain">
            <div class="card-body">
              <span class="card-category text-primary font-rp">Yu Yen By Pure Collections</span>
              <a href="https://www.facebook.com/share/p/15CgYvfLA4/" target="_blank">
                <h3 class="card-title">
                  [Yu Yen ] - บ้านชั้นเดียวที่ขนาดเล็ก แต่ดูโดดเด่นได้อย่างน่าเหลือเชื่อ
                </h3>
              </a>
              <p class="card-description">
                [Yu Yen ] คือบ้านที่ออกแบบมาเพื่อชีวิตที่เลือก “ความพอดี” เป็นคำตอบ
                ไม่ใช่แค่ขนาดที่เหมาะสม…แต่คือการใช้พื้นที่อย่างลึกซึ้งและคุ้มค่าในทุกตารางเมตร
                การจัดวางฟังก์ชันภายในถูกคิดมาอย่างตั้งใจ ให้ทุกการเป็นอยู่ เป็นไปอย่างเรียบง่าย ไม่ขาดความรู้สึกโปร่ง
                โล่ง แม้ตัวบ้านจะไม่ได้ใหญ่โตอะไร แต่กลับอบอวลด้วยบรรยากาศที่อบอุ่นและเป็นมิตร
                โถงกลางเปิดโล่งรับแสงธรรมชาติ ช่วยให้บ้าน “หายใจได้” อย่างเต็มที่
                และท่านเจ้าของบ้าน…จะรู้สึกผ่อนคลายได้ในทุกช่วงเวลา
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-7 mr-auto">
          <div class="row">

            <div class="col-12 mb-2">
              <a href="https://www.facebook.com/share/p/15CgYvfLA4/" target="_blank">
                <img class="img-collection img-raised mb-2" src="assets/img/Collection/collection20.jpg" />
              </a>

            </div>
            <div class="col-4  ">
              <img class="img-collection  img-raised" src="assets/img/Collection/collection7.jpg" />
            </div>
            <div class="col-4  ">
              <img class="img-collection img-raised" src="assets/img/Collection/collection8.jpg" />
            </div>
            <div class="col-4  ">
              <img class="img-collection img-raised" src="assets/img/Collection/collection10.jpg" />
            </div>
          </div>
        </div>

      </div>

      <br />
      <hr />
      <br />
      <div class="row" data-aos="fade-up">
        <div class="col-md-7 ml-auto">
          <div class="row">

            <div class="col-12 mb-2">
              <a href="https://www.facebook.com/share/p/1AQdcXRjsr/" target="_blank">
                <img class="img-collection img-raised mb-2" src="assets/img/Collection/collection11.jpg" />
              </a>

            </div>
            <div class="col-4  ">
              <img class="img-collection  img-raised" src="assets/img/Collection/collection15.jpg" />
            </div>
            <div class="col-4  ">
              <img class="img-collection img-raised" src="assets/img/Collection/collection14.jpg" />
            </div>
            <div class="col-4  ">
              <img class="img-collection img-raised" src="assets/img/Collection/collection12.jpg" />
            </div>
          </div>
        </div>
        <div class="col-md-5 mr-auto">
          <div class="card-plain">
            <div class="card-body">
              <span class="card-category text-primary font-rp">Yu Sabai By Pure Collections</span>
              <a href="https://www.facebook.com/share/p/1AQdcXRjsr/" target="_blank">
                <h3 class="card-title">[Yu Sabai ] - บ้านที่ให้ความรู้สึก เรียบ เท่ และเต็มไปด้วยตัวตน</h3>
              </a>
              <p class="card-description">
                [Yu Sabai ] ตั้งใจออกแบบมาเพื่อคนรุ่นใหม่ที่ รักความเรียบง่ายแต่ไม่ธรรมดา ดีไซน์ที่มีคาแรกเตอร์ชัดเจน
                เส้นสายคม เท่ ให้ความรู้สึก ลึกลับ แต่ไม่ซ่อนเร้น น่าอยู่และไม่อึดอัด องค์ประกอบที่พอดีไม่มากไป
                ไม่น้อยไป เหมาะที่จะรองรับทุกจังหวะชีวิต ไม่ว่าท่านเจ้าของบ้านจะเป็นสายชิล สายคิด หรือสายสร้าง

              </p>

              <p class="card-description">
                ตัวบ้านใช้โทนสีสะอาดตา มีทั้งความนิ่ง สุขุม และความน่าสนใจในเวลาเดียวกัน
                โถงกลางสูงโปร่งเปิดรับแสงธรรมชาติได้อย่างพอดี เหมาะกับคนที่ชอบความเป็นส่วนตัวแต่ไม่ปิดกั้น
                ความเรียบง่าย...ที่ยังคงเปี่ยมด้วยรายละเอียดและความหมายในทุกวัน
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="row" data-aos="fade-up">
        <div class="col-md-5 ml-auto">
          <div class=" card-plain">
            <div class="card-body">
              <span class="card-category text-primary font-rp">Yu Sook By Pure Collections</span>
              <a href="https://www.facebook.com/share/p/14y4uCYAQf/" target="_blank">
                <h3 class="card-title">
                  [Yu Sook ] - บ้านสีขาวสองชั้น ที่โอบล้อมไปด้วยความอบอุ่น สงบ และเป็นส่วนตัว
                </h3>
              </a>
              <p class="card-description">
                [Yu Sook] ไม่ใช่แค่บ้าน แต่คือพื้นที่ที่ถักทอความรู้สึกของการพักผ่อนอย่างแท้จริง
                การออกแบบที่ใส่ใจในทุกมิติของการใช้ชีวิต นำมาสู่ความสมดุลระหว่าง “ความเป็นส่วนตัว” กับ “ความโปร่งสบาย”
                ทุกสัดส่วนของพื้นที่ถูกจัดวางอย่างพิถีพิถัน เพื่อให้การใช้งานในแต่ละวันเกิดขึ้นได้อย่างเป็นธรรมชาติ
                สร้างบรรยากาศที่เหมาะสำหรับการใช้ชีวิตร่วมกันของสมาชิกในครอบครัวได้เป็นอย่างดี

              </p>
              <p class="card-description">
                เสน่ห์เฉพาะตัวของ Yu Sook คือบรรยากาศที่เงียบสงบแต่ไม่เงียบเหงา อบอุ่นแต่ไม่อึดอัด
                ด้วยเพดานที่ยกสูงในบางจุด เสริมมิติให้บ้านดูโปร่งโล่งโดยเฉพาะในโถงกลางที่ออกแบบแบบ Double Volume
                พร้อมเชื่อมโยง Space ในแบบ Open Plan ให้พื้นที่ทุกส่วนเชื่อมถึงกันได้อย่างลื่นไหล
                เป็นการออกแบบที่สร้างทั้งความกว้างขวาง และความใกล้ชิดทางความรู้สึกใน ขณะเดียวกัน
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-7 mr-auto">
          <div class="row">

            <div class="col-12 mb-2">
              <a href="https://www.facebook.com/share/p/14y4uCYAQf/" target="_blank">
                <img class="img-collection img-raised mb-2" src="assets/img/Collection/collection16.jpg" />
              </a>

            </div>
            <div class="col-4  ">
              <img class="img-collection  img-raised" src="assets/img/Collection/collection17.jpg" />
            </div>
            <div class="col-4  ">
              <img class="img-collection img-raised" src="assets/img/Collection/collection18.jpg" />
            </div>
            <div class="col-4  ">
              <img class="img-collection img-raised" src="assets/img/Collection/collection19.jpg" />
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="section section-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h5 class="description" data-aos="fade-down">What We Do</h5>

          <h2 class="title text-secondary" data-aos="fade-down"><span style="font-size: 40px;">6</span> Step Working
            Process</h2>
          <div class="separator separator-secondary" data-aos="fade-down"></div>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row text-center mt-5">
        <div class="col-md-4 mb-3" data-aos="zoom-in">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <i class="fas fa-home mt-3"></i>
              <h4 class="card-title text-white"><span class="text-secondary text-bold">01. </span>Meet Our Architect
              </h4>
              <p class="card-description">
                เลือกแบบบ้าน หรือ ออกแบบใหม่
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-4 mb-3" data-aos="zoom-in">
          <div class="card card-profile card-secondary">
            <div class="card-body ">
              <i class=" fa fa-search mt-3" aria-hidden="true"></i>
              <h4 class="card-title text-white"><span class="text-secondary text-bold">02. </span>Site Survey
              </h4>
              <p class="card-description">
                สำรวจที่ดิน
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-4 mb-3" data-aos="zoom-in">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <i class="fas fa-pencil-ruler mt-3"></i>
              <h4 class="card-title text-white"><span class="text-secondary text-bold">03. </span>Layout Design
              </h4>
              <p class="card-description">
                ออกแบบฟังก์ชั่นการใช้งาน
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-4 mb-3" data-aos="zoom-in">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <i class="fas fa-file-alt" style="margin-top: 30px; margin-bottom: 28px;"></i>
              <h4 class="card-title text-white"><span class="text-secondary text-bold">04. </span>Final Design
              </h4>
              <p class="card-description">
                สรุปแบบ 3D และเลือกวัสดุ
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-4 mb-3" data-aos="zoom-in">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <i class="fas fa-hammer  mt-3"></i>
              <h4 class="card-title text-white"><span class="text-secondary text-bold">05. </span>Building Permit &
                Contruction
              </h4>
              <p class="card-description">
                บริการยื่นขออนุญาตก่อสร้าง และเริ่มก่อสร้าง
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-4 mb-3" data-aos="zoom-in">
          <div class="card card-profile card-secondary">
            <div class="card-body">
              <i class="fas fa-key" style="margin-top: 30px; margin-bottom: 28px;"></i>
              <h4 class="card-title text-white"><span class="text-secondary text-bold">06. </span>QC & Complete
              </h4>
              <p class="card-description">
                ตรวจสอบและส่งมอบบ้าน
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="section section-light">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h5 class="description" data-aos="fade-down">Our Work</h5>
          <h2 class="title text-primary" data-aos="fade-down">Latest Project</h2>
          <div class="separator separator-primary" data-aos="fade-down"></div>
        </div>
      </div>
      <div class="space-top"></div>

      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6 mb-3" data-aos="fade-up">
              <div class="card card-blog">
                <div class="card-image">
                  <a href="javascript:void(0)"><img class="img img-last img-raised" src="assets/img/photo1.jpg" /></a>
                </div>

              </div>
            </div>
            <div class="col-md-6 mb-3" data-aos="fade-up">
              <div class="card card-blog">
                <div class="card-image">
                  <a href="javascript:void(0)"><img class="img img-last img-raised" src="assets/img/photo14.jpg" /></a>
                </div>

              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6 mb-3" data-aos="fade-up">
              <div class="card card-blog">
                <div class="card-image">
                  <a href="javascript:void(0)"><img class="img img-last img-raised"
                      src="assets/img/457442700.png" /></a>
                </div>

              </div>
            </div>
            <div class="col-md-6 mb-3" data-aos="fade-up">
              <div class="card card-blog">
                <div class="card-image">
                  <a href="javascript:void(0)"><img class="img img-last img-raised" src="assets/img/photo5.jpg" /></a>
                </div>

              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6 mb-3" data-aos="fade-up">
              <div class="card card-blog">
                <div class="card-image">
                  <a href="javascript:void(0)"><img class="img img-last img-raised" src="assets/img/photo9.jpg" /></a>
                </div>

              </div>
            </div>
            <div class="col-md-6 mb-3" data-aos="fade-up">
              <div class="card card-blog">
                <div class="card-image">
                  <a href="javascript:void(0)"><img class="img img-last img-raised" src="assets/img/photo15.jpg" /></a>
                </div>

              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-6 mb-3" data-aos="fade-up">
              <div class="card card-blog">
                <div class="card-image">
                  <a href="javascript:void(0)"><img class="img img-last img-raised" src="assets/img/photo4.jpg" /></a>
                </div>

              </div>
            </div>
            <div class="col-md-6 mb-3" data-aos="fade-up">
              <div class="card card-blog">
                <div class="card-image">
                  <a href="javascript:void(0)"><img class="img img-last img-raised" src="assets/img/photo12.jpg" /></a>
                </div>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h5 class="description" data-aos="fade-down">Blogs</h5>
          <h2 class="title text-primary" data-aos="fade-down">Latest Blogs & Articles</h2>
          <div class="separator separator-primary" data-aos="fade-down"></div>

        </div>
      </div>
      <div class="line-separator separator-primary"></div>
      <div class="row mt-5">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="row">
            <div class="col-md-4" *ngFor="let getBlog of getBlogs ">
              <div class="card card-blog">
                <div class="card-image">
                  <a href="javascript:void(0)"><img class="img img-raised" [src]="getBlog.pictureUrl" /></a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-primary"> {{getBlog.blogCategory.blogCategoryName}}</h6>
                  <h3 class="card-title " (click)="onDetail(getBlog._id.$oid)">
                    <a href="javascript:void(0)">{{getBlog.title}}</a>
                  </h3>
                  <p class="card-description">
                    {{getBlog.subTitle}}
                  </p>
                  <hr />
                  <div class="card-footer">
                    <div class="author"><img alt="..." class="avatar img-raised" src="assets/img/logo.jpg"><span
                        class="text-secondary">TWENTYSIX.HOUSE</span>
                    </div>
                    <div class=" stats"> {{getBlog.date | date}} </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="section section-team text-center section-light">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h5 class="description" data-aos="fade-down">OUR Work</h5>
          <h2 class="title text-primary" data-aos="fade-down">What Clients Say</h2>
          <div class="separator separator-primary" data-aos="fade-down"></div>
        </div>
      </div>


      <div class="team">
        <div class="row">
          <div class="col-md-4" data-aos="fade-up">
            <div class="team-player">
              <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title text-secondary">Romina Hadid</h4>
              <p class="category text-gray">Model</p>
              <p class="card-description">You can write here details about one of your team members. You can give more
                details about what they do. Feel free to add some
                <a href="#">links</a> for people to be able to follow them outside the site.
              </p>

            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up">
            <div class="team-player">
              <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title text-secondary">Ryan Tompson</h4>
              <p class="category text-gray">Designer</p>
              <p class="card-description">You can write here details about one of your team members. You can give more
                details about what they do. Feel free to add some
                <a href="#">links</a> for people to be able to follow them outside the site.
              </p>

            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up">
            <div class="team-player">
              <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title text-secondary">Eva Jenner</h4>
              <p class="category text-gray">Fashion</p>
              <p class="card-description">You can write here details about one of your team members. You can give more
                details about what they do. Feel free to add some
                <a href="#">links</a> for people to be able to follow them outside the site.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->


  <div class="section section-light pt-4 pb-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3" style="border-right: 2px solid #A1752B">

          <h2 class="title text-primary mt-3 mb-3">Our <br />
            Collaborators</h2>
        </div>
        <div class="col-md-9">



          <ngx-fast-marquee *ngIf="isBrowser" [speed]="130">
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand2.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand3.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand4.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand5.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand7.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand8.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand9.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand10.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand11.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand12.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand13.jpg" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand14.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand15.png" />
            </div>
            <div class="item item-marquee">
              <img class="img-coll" src="assets/img/Logo/brand16.png" />
            </div>
          </ngx-fast-marquee>

        </div>
      </div>
    </div>
  </div>
  <div class="section section-contact-us ">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h5 class="description">You Need More Information</h5>
          <h2 class="title text-primary">Get in Touch</h2>
          <div class="separator separator-primary"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <h3 class="title text-bold mb-3">CONTACT</h3>

          <p class="mb-3 card-description text-primary">บริษัท ทเวนตี้ซิกซ์ ดีเวลล็อปเมนท์ จำกัด ตั้งอยู่บริเวณ
            สามแยกบ้านต้นยางใหญ่
            ทางไปโรงเรียบดอนบอส อำเภอเมือง จังหวัดอุดรธานี</p>
          <div class="row mb-4">

            <div class="col-lg-12">
              <ul class="contact-list">
                <li><i class="fa fa-map-marker mr-2 text-gray " aria-hidden="true"></i>
                  <a href="https://maps.app.goo.gl/AgjTg2jRSc3iaYa46?g_st=com.google.maps.preview.copy" target="_blank"
                    class="card-description">127/2
                    ถ.โพนพิสัย อ.เมือง จ.อุดรธานี 41000</a>
                </li>
                <li><i aria-hidden="true" class="fa fa-phone mr-2 text-gray">

                  </i>
                  <a href="tel:0994708877" class="card-description">099-470-8877</a>
                </li>
                <li><i aria-hidden="true" class="fa fa-envelope text-gray  mr-2"></i><a
                    href="mailto:twentysix.desk@gmail.com" class="card-description">twentysix.desk&#64;gmail.com</a>
                </li>
              </ul>
            </div>

          </div>

          <div class="row mb-5">

            <div class="col-lg-12 text-center">

              <a title="Like us on Facebook" href="https://www.facebook.com/share/19APWzVgu7/?mibextid=wwXIfr"
                target="_blank" class="btn btn-icon btn-round btn-primary mr-2">
                <i aria-hidden="true" class="fa fa-facebook"></i>
              </a>
              <a title="Follow us on Instagram" href="https://www.instagram.com/26twentysix.house?igsh=YXFmMWt3bGhlaHpm"
                target="_blank" class="btn btn-icon btn-round btn-primary mr-2">
                <i aria-hidden="true" class="fa fa-instagram"></i>
              </a>
              <a title="Contact us on Line" href="https://lin.ee/jzuOAtF" target="_blank"
                class="btn btn-icon btn-round btn-primary mr-2">
                <i aria-hidden="true" class="fab fa-line"></i>
              </a>
              <a title="Follow us on Tiktok" href="https://www.tiktok.com/@twentysix.house?_t=ZS-8vm31ijyhPc&_r=1"
                target="_blank" class="btn btn-icon btn-round btn-primary mr-2">
                <i aria-hidden="true" class="fab fa-tiktok"></i>
              </a>

              <a title="Call Me" href="tel:0994708877" target="_blank" class="btn btn-icon btn-round btn-primary ">
                <i aria-hidden="true" class="fa fa-phone  "></i>
              </a>

            </div>

          </div>
        </div>
        <div class="col-md-6 text-center ml-auto mr-auto">
          <div class="row">

            <div class="col-md-12">

              <a href="https://maps.app.goo.gl/AgjTg2jRSc3iaYa46?g_st=com.google.maps.preview.copy" target="_blank">
                <img class="img img-raised" src="assets/img/map.jpg" />
              </a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
