<div class="wrapper">
  <app-home-hero-section></app-home-hero-section>
  <app-home-intro-section></app-home-intro-section>
  <app-home-services-section></app-home-services-section>
  <app-home-why-choose-us-section></app-home-why-choose-us-section>
  <app-home-projects-section></app-home-projects-section>
  <app-home-process-section></app-home-process-section>
  <app-home-collections-section></app-home-collections-section>
  <app-home-faq-section></app-home-faq-section>
  <app-home-contact-section></app-home-contact-section>
  <!-- <app-home-blogs-section [blogs]="getBlogs"></app-home-blogs-section>
  <app-home-collaborators-section [isBrowser]="isBrowser"></app-home-collaborators-section>-->
</div>
