<footer class="footer footer-big" role="contentinfo" itemscope itemtype="https://schema.org/LocalBusiness">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center col-12 ml-auto mr-auto">
        <a [routerLink]="'/'" aria-label="บริษัทรับสร้างบ้าน Twentysix.House">
          <img class="img-logo mb-3" src="./assets/img/logobg.png" alt="โลโก้บริษัทรับสร้างบ้าน Twentysix.House"
            itemprop="logo" />
        </a>

        <p class="text-secondary card-description" itemprop="name">
          บริษัท ทเวนตี้ซิกซ์ ดีเวลลอปเมนท์ จำกัด
        </p>

        <address class="text-secondary card-description" itemprop="address" itemscope
          itemtype="https://schema.org/PostalAddress">
          <span itemprop="streetAddress">127/2 ถนนโพนพิสัย</span><br />
          <span itemprop="addressLocality">อำเภอเมือง</span>
          <span itemprop="addressRegion">จังหวัดอุดรธานี</span>
          <span itemprop="postalCode">41000</span>
        </address>

        <p class="text-secondary card-description">
          โทร:
          <a href="tel:0994708877" itemprop="telephone">099-470-8877</a>
        </p>
      </div>

      <div class="col-md-8 col-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-5 mb-4">
            <p class="t">ABOUT COMPANY</p>
            <p class="text-secondary card-description">
              บริษัทรับสร้างบ้านในจังหวัดอุดรธานี ให้บริการออกแบบและก่อสร้างบ้านครบวงจร
              ด้วยประสบการณ์มากกว่า 10 ปี
            </p>
          </div>

          <div class="col-md-3 mb-4">
            <p class="t">QUICK LINKS</p>
            <div class="links">
              <ul class="uppercase-links stacked-links">
                <li *ngFor="let link of quickLinks">
                  <a [routerLink]="link.path">{{ link.label }}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-4">
            <p class="t">CONTACT US</p>

            <div class="social-area mt-3">
              <a class="btn btn-icon btn-round btn-outline-secondary mr-1" aria-label="Line"
                href="https://lin.ee/jzuOAtF" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-line"></i>
              </a>

              <a class="btn btn-icon btn-round btn-outline-secondary mr-1" aria-label="Facebook"
                href="https://www.facebook.com/share/19APWzVgu7/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-square"></i>
              </a>

              <a class="btn btn-icon btn-round btn-outline-secondary mr-1" aria-label="Instagram"
                href="https://www.instagram.com/26twentysix.house" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram"></i>
              </a>

              <a class="btn btn-icon btn-round btn-outline-secondary mr-1" aria-label="Tiktok"
                href="https://www.tiktok.com/@twentysix.house" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-tiktok"></i>
              </a>

              <a class="btn btn-icon btn-round btn-outline-secondary" aria-label="โทรศัพท์" href="tel:0994708877">
                <i class="fas fa-phone-alt"></i>
              </a>
            </div>
          </div>
        </div>

        <hr />

        <div class="copyright d-flex justify-content-between">
          <span class="text-secondary">
            &copy; {{ year }} Twentysix.House
          </span>

          <ul class="list-inline text-secondary mb-0">
            <li class="list-inline-item">
              <span aria-disabled="true">Privacy Policy</span>
            </li>
            |
            <li class="list-inline-item">
              <span aria-disabled="true">Terms of Use</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>