<footer class="footer footer-big">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center col-sm-4 col-12 ml-auto mr-auto ">
        <a routerLink="/" aria-label="กลับหน้าแรก Twentysix House">
          <img class="img-logo mb-3" src="assets/img/seo/footer-brand-320.webp" alt="โลโก้ Twentysix House"
            width="320" height="297" loading="lazy" decoding="async" />
        </a>

        <div class="row">
          <div class="col-md-9 ml-auto mr-auto mb-4">
            <span class="text-center text-secondary card-description">
              บริษัท ทเวนตี้ซิกซ์ ดีเวลล็อปเมนท์ จำกัด
              <br>
              127/2 ถนนโพนพิสัย อำเภอเมือง จังหวัดอุดรธานี 41000 </span>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 col-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-5 mb-4">
            <h6 class="t">ABOUT COMPANY</h6>
            <div class="links text-secondary card-description">
              บริษัท ทเวนตี้ซิกซ์ ดีเวลล็อปเมนท์ จำกัด
              รับสร้างบ้านอุดรธานี หนองคายและจังหวัดใกล้เคียง
            </div>
          </div>
          <div class="col-md-3  mb-4">
            <h6 class="t">HELP US</h6>
            <div class="links">

              <ul class="uppercase-links stacked-links">
                <li>
                  <a [routerLink]="'/'">
                    หน้าแรก
                  </a>
                </li>
                <li>
                  <a [routerLink]="'/about'">
                    เกี่ยวกับเรา
                  </a>
                </li>
                <li>
                  <a [routerLink]="'/services'">
                    บริการของเรา
                  </a>
                </li>
                <li>
                  <a [routerLink]="'/house-catalog'">
                    แบบบ้านของเรา
                  </a>
                </li>
                <li>
                  <a [routerLink]="'/ourworks'">
                    ผลงานของเรา
                  </a>
                </li>
                <li>
                  <a [routerLink]="'/contact'">
                    ติดต่อเรา
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <h6 class="t">CONTACT US</h6>
            <div class="social-area mt-3">
              <a class="btn btn-icon btn-round btn-secondary mr-1" rel="tooltip" title="Contact us on Line"
                data-placement="bottom" href="https://lin.ee/jzuOAtF" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-line"></i>

              </a>
              <a class="btn btn-icon btn-round btn-secondary mr-1" rel="tooltip" title="Like us on Facebook"
                data-placement="bottom" href="https://www.facebook.com/share/19APWzVgu7/?mibextid=wwXIfr"
                target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-square"></i>

              </a>
              <a class="btn btn-icon btn-round btn-secondary mr-1" rel="tooltip" title="Follow us on Instagram"
                data-placement="bottom" href="https://www.instagram.com/26twentysix.house?igsh=YXFmMWt3bGhlaHpm"
                target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram"></i>

              </a>
              <a class="btn btn-icon btn-round btn-secondary mr-1" rel="tooltip" title="Follow us on Tiktok"
                data-placement="bottom" href="https://www.tiktok.com/@twentysix.house?_t=ZS-8vm31ijyhPc&_r=1"
                target="_blank" rel="noopener noreferrer">
                <i class="fab fa-tiktok"></i>

              </a>
              <a class="btn btn-icon btn-round btn-secondary" rel="tooltip" title="Call Me" data-placement="bottom"
                href="tel:0994708877">
                <i class="fas fa-phone-alt"></i>

              </a>
            </div>
          </div>

        </div>
        <hr />
        <div class="copyright">
          <div class="links pull-left text-secondary">
            Copyright © {{ currentYear }}, Twentysix.House
          </div>
          <div class="links pull-right text-secondary">
            <ul>
              <li>
                <a routerLink="/privacy-policy">Privacy Policy</a>
              </li>
              |
              <li>
                <a routerLink="/terms-of-use">Terms of Use</a>
              </li>
              |
              <li>
                <button type="button" class="footer-cookie-settings" (click)="openCookieSettings()">Cookie Settings</button>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
