<div class="wrapper">
  <div class="page-header page-header-small" style="background-image: url('./assets/img/blurred-image-1.jpg')">
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">

          <h2>Collections</h2>
          <h5 class="description text-gray">Tewntysix.House Design</h5>
          <div class="section-space"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section-breadcrumb">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Collections</li>

          </ol>
        </nav>
      </div>

    </div>
    <div class="project-4 section  ">
      <div class="container">


        <div class="row justify-content-center">

          <div class="col-md-8 text-center">
            <h4 class="description" style="margin-bottom: 20px;"><span class="text-secondary"
                style=" font-size: 20px; font-weight: bold;">ℙ 𝕌
                ℝ 𝔼</span> | ในแง่ของการดีไซน์
              คอลเลคชั่นนี้ เราตั้งใจให้โดดเด่นด้วยเส้นสายแนวยาวที่เรียบง่ายและสงบนิ่ง ตัดกับเส้นแนวตั้งอย่างพอดีพอเหมาะ
              เกิดเป็นจังหวะของความ “สงบแต่มีชีวิต” ที่สะท้อนตัวตนของผู้พักอาศัยได้อย่างมีระดับ ความงามที่ไม่ฉูดฉาด
              แต่กลับตราตรึงใจ เป็นบ้านที่ใครๆ ก็อยากกลับมาในทุกๆวัน
              ใช้ชีวิตอย่างเรียบง่ายแต่เปี่ยมไปด้วยคุณภาพและแฝงไปด้วยเสน่ห์ที่ชวนให้หลงใหล</h4>
          </div>

        </div>
        <hr />
        <br />
        <div class="row" data-aos="fade-up">
          <div class="col-md-7 ml-auto">
            <div class="row">

              <div class="col-12 mb-2">
                <a href="https://www.facebook.com/Twentysix.house/posts/pfbid02d2RGgPGGprY1H55AY258KZNX1maYCWyfJwoop4NgBVcguGdWh6udpzqct4PKmZwDl"
                  target="_blank">
                  <img class="img-collection img-raised mb-2" src="assets/img/Collection/collection6.jpg" />
                </a>

              </div>
              <div class="col-4  ">
                <img class="img-collection  img-raised" src="assets/img/Collection/collection3.jpg" />
              </div>
              <div class="col-4  ">
                <img class="img-collection img-raised" src="assets/img/Collection/collection4.jpg" />
              </div>
              <div class="col-4  ">
                <img class="img-collection img-raised" src="assets/img/Collection/collection5.jpg" />
              </div>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div class="card-plain">
              <div class="card-body">
                <span class="card-category text-primary font-rp">Yu Plearn By Pure Collections</span>
                <a href="https://www.facebook.com/Twentysix.house/posts/pfbid02d2RGgPGGprY1H55AY258KZNX1maYCWyfJwoop4NgBVcguGdWh6udpzqct4PKmZwDl"
                  target="_blank">
                  <h3 class="card-title">[Yu Plearn ] - บ้านที่ไม่ได้เพลินแค่ชื่อ แต่ยังเพลิดเพลินกับธรรมชาติได้จริง
                  </h3>
                </a>
                <p class="card-description">
                  [Yu Plearn ] เป็นพื้นที่ที่มอบความรู้สึกเพลิดเพลินผ่านการออกแบบที่เปิดกว้าง
                  เชื่อมโยงกับธรรมชาติได้อย่างอย่างลงตัว
                  ด้วยช่องแสงที่สูงทอดยาวตลอดทั้งสองชั้นของบ้าน อีกทั้ง <span
                    class="text-secondary">#ทางเดินภายในบ้านที่ออกแบบให้ชิดกับหน้าต่างบานใหญ่</span>
                  ทำให้ผู้อยู่อาศัยสามารถสัมผัสกับบรรยากาศรอบบ้านได้ในทุกย่างก้าว
                  ทุกพื้นที่ถูกออกแบบให้เปิดรับแสงธรรมชาติ
                  และการระบายอากาศที่ดีเยี่ยม
                  ทำให้ทุกพื้นที่ภายในบ้านเป็นประสบการณ์ที่เชื่อมโยงกับบรรยากาศภายนอกอย่างสมบูรณ์แบบ
                </p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row" data-aos="fade-up">
          <div class="col-md-5 ml-auto">
            <div class=" card-plain">
              <div class="card-body">
                <span class="card-category text-primary font-rp">Yu Yen By Pure Collections</span>
                <a href="https://www.facebook.com/share/p/15CgYvfLA4/" target="_blank">
                  <h3 class="card-title">
                    [Yu Yen ] - บ้านชั้นเดียวที่ขนาดเล็ก แต่ดูโดดเด่นได้อย่างน่าเหลือเชื่อ
                  </h3>
                </a>
                <p class="card-description">
                  [Yu Yen ] คือบ้านที่ออกแบบมาเพื่อชีวิตที่เลือก “ความพอดี” เป็นคำตอบ
                  ไม่ใช่แค่ขนาดที่เหมาะสม…แต่คือการใช้พื้นที่อย่างลึกซึ้งและคุ้มค่าในทุกตารางเมตร
                  การจัดวางฟังก์ชันภายในถูกคิดมาอย่างตั้งใจ ให้ทุกการเป็นอยู่ เป็นไปอย่างเรียบง่าย ไม่ขาดความรู้สึกโปร่ง
                  โล่ง แม้ตัวบ้านจะไม่ได้ใหญ่โตอะไร แต่กลับอบอวลด้วยบรรยากาศที่อบอุ่นและเป็นมิตร
                  โถงกลางเปิดโล่งรับแสงธรรมชาติ ช่วยให้บ้าน “หายใจได้” อย่างเต็มที่
                  และท่านเจ้าของบ้าน…จะรู้สึกผ่อนคลายได้ในทุกช่วงเวลา
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-7 mr-auto">
            <div class="row">

              <div class="col-12 mb-2">
                <a href="https://www.facebook.com/share/p/15CgYvfLA4/" target="_blank">
                  <img class="img-collection img-raised mb-2" src="assets/img/Collection/collection20.jpg" />
                </a>

              </div>
              <div class="col-4  ">
                <img class="img-collection  img-raised" src="assets/img/Collection/collection7.jpg" />
              </div>
              <div class="col-4  ">
                <img class="img-collection img-raised" src="assets/img/Collection/collection8.jpg" />
              </div>
              <div class="col-4  ">
                <img class="img-collection img-raised" src="assets/img/Collection/collection10.jpg" />
              </div>
            </div>
          </div>

        </div>

        <br />
        <hr />
        <br />
        <div class="row" data-aos="fade-up">
          <div class="col-md-7 ml-auto">
            <div class="row">

              <div class="col-12 mb-2">
                <a href="https://www.facebook.com/share/p/1AQdcXRjsr/" target="_blank">
                  <img class="img-collection img-raised mb-2" src="assets/img/Collection/collection11.jpg" />
                </a>

              </div>
              <div class="col-4  ">
                <img class="img-collection  img-raised" src="assets/img/Collection/collection15.jpg" />
              </div>
              <div class="col-4  ">
                <img class="img-collection img-raised" src="assets/img/Collection/collection14.jpg" />
              </div>
              <div class="col-4  ">
                <img class="img-collection img-raised" src="assets/img/Collection/collection12.jpg" />
              </div>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div class="card-plain">
              <div class="card-body">
                <span class="card-category text-primary font-rp">Yu Sabai By Pure Collections</span>
                <a href="https://www.facebook.com/share/p/1AQdcXRjsr/" target="_blank">
                  <h3 class="card-title">[Yu Sabai ] - บ้านที่ให้ความรู้สึก เรียบ เท่ และเต็มไปด้วยตัวตน</h3>
                </a>
                <p class="card-description">
                  [Yu Sabai ] ตั้งใจออกแบบมาเพื่อคนรุ่นใหม่ที่ รักความเรียบง่ายแต่ไม่ธรรมดา ดีไซน์ที่มีคาแรกเตอร์ชัดเจน
                  เส้นสายคม เท่ ให้ความรู้สึก ลึกลับ แต่ไม่ซ่อนเร้น น่าอยู่และไม่อึดอัด องค์ประกอบที่พอดีไม่มากไป
                  ไม่น้อยไป เหมาะที่จะรองรับทุกจังหวะชีวิต ไม่ว่าท่านเจ้าของบ้านจะเป็นสายชิล สายคิด หรือสายสร้าง

                </p>

                <p class="card-description">
                  ตัวบ้านใช้โทนสีสะอาดตา มีทั้งความนิ่ง สุขุม และความน่าสนใจในเวลาเดียวกัน
                  โถงกลางสูงโปร่งเปิดรับแสงธรรมชาติได้อย่างพอดี เหมาะกับคนที่ชอบความเป็นส่วนตัวแต่ไม่ปิดกั้น
                  ความเรียบง่าย...ที่ยังคงเปี่ยมด้วยรายละเอียดและความหมายในทุกวัน
                </p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row" data-aos="fade-up">
          <div class="col-md-5 ml-auto">
            <div class=" card-plain">
              <div class="card-body">
                <span class="card-category text-primary font-rp">Yu Sook By Pure Collections</span>
                <a href="https://www.facebook.com/share/p/14y4uCYAQf/" target="_blank">
                  <h3 class="card-title">
                    [Yu Sook ] - บ้านสีขาวสองชั้น ที่โอบล้อมไปด้วยความอบอุ่น สงบ และเป็นส่วนตัว
                  </h3>
                </a>
                <p class="card-description">
                  [Yu Sook] ไม่ใช่แค่บ้าน แต่คือพื้นที่ที่ถักทอความรู้สึกของการพักผ่อนอย่างแท้จริง
                  การออกแบบที่ใส่ใจในทุกมิติของการใช้ชีวิต นำมาสู่ความสมดุลระหว่าง “ความเป็นส่วนตัว” กับ “ความโปร่งสบาย”
                  ทุกสัดส่วนของพื้นที่ถูกจัดวางอย่างพิถีพิถัน เพื่อให้การใช้งานในแต่ละวันเกิดขึ้นได้อย่างเป็นธรรมชาติ
                  สร้างบรรยากาศที่เหมาะสำหรับการใช้ชีวิตร่วมกันของสมาชิกในครอบครัวได้เป็นอย่างดี

                </p>
                <p class="card-description">
                  เสน่ห์เฉพาะตัวของ Yu Sook คือบรรยากาศที่เงียบสงบแต่ไม่เงียบเหงา อบอุ่นแต่ไม่อึดอัด
                  ด้วยเพดานที่ยกสูงในบางจุด เสริมมิติให้บ้านดูโปร่งโล่งโดยเฉพาะในโถงกลางที่ออกแบบแบบ Double Volume
                  พร้อมเชื่อมโยง Space ในแบบ Open Plan ให้พื้นที่ทุกส่วนเชื่อมถึงกันได้อย่างลื่นไหล
                  เป็นการออกแบบที่สร้างทั้งความกว้างขวาง และความใกล้ชิดทางความรู้สึกใน ขณะเดียวกัน
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-7 mr-auto">
            <div class="row">

              <div class="col-12 mb-2">
                <a href="https://www.facebook.com/share/p/14y4uCYAQf/" target="_blank">
                  <img class="img-collection img-raised mb-2" src="assets/img/Collection/collection16.jpg" />
                </a>

              </div>
              <div class="col-4  ">
                <img class="img-collection  img-raised" src="assets/img/Collection/collection17.jpg" />
              </div>
              <div class="col-4  ">
                <img class="img-collection img-raised" src="assets/img/Collection/collection18.jpg" />
              </div>
              <div class="col-4  ">
                <img class="img-collection img-raised" src="assets/img/Collection/collection19.jpg" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
